body{
    background-color: black;
    padding: 1cm;
    margin: 1cm;
}

a{
    text-decoration: none;
}

.list-group-item.disabled{
    background-color: black;
    color: gray;
    font-size: xx-large;
    padding: 0;
}

.list-group-item{
    background-color: black;
    color: ghostwhite;
    padding: 0;

}

.info{
    margin: 0.5cm;
    font-size: xx-large;
}

.home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.audiovisuales{
    font-family: 'Courier New', Courier, monospace;
}

.fotografia{
    font-family: Arial, Helvetica, sans-serif;
}

.contacto{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carrete{
    font-family: 'Courier New', Courier, monospace;
}

.instagram{
    font-family: Arial, Helvetica, sans-serif;
}

